nav ul li{
	color:white;
}
#name{
	color:white;
	margin-right: 100px;
	padding-top: 15px;
	font-size:16px;
}
.contacts{
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
	background:url(contact.jpg)no-repeat center center;
	background-position: 50% 0;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}